<% @records.each do |record| %>
  <span><%= record.purpose %></span>
  <span><%= record.responsible %></span>
  <span><%= record.payday %></span>
  <span><%= record.in_out %></span>
<% end %>

<%= link_to "New", new_record_path, remote: true, :'data-type' => :html, id: "new_record_button" %>

<div id="modal"></div>