= nested_form_for(expense, html: { class: 'form-horizontal' }) do |f|
  .well
    %fieldset
      %legend Summary
      .form-group
        = f.label :purpose, class: 'col-sm-2 control-label'
        .col-sm-9
          = f.text_field :purpose, class: 'form-control', required: true

      .form-group
        = f.label :responsible, class: 'col-sm-2 control-label'
        .col-sm-9
          = f.text_field :responsible, class: 'form-control', required: true

      .form-group
        = f.label :payday, class: 'col-sm-2 control-label'
        .col-sm-9
          = f.date_field :payday, class: 'form-control', value: expense.payday || Date.today

      .form-group
        = f.label :in_out, class: 'col-sm-2 control-label'
        .col-sm-9
          = f.select :in_out, ['outgoing', 'incoming'], {}, class: 'form-control'

  .well
    %fieldset
      %legend Items
      #item_forms_container
        = f.fields_for(:items) do |item_f|
          .form-group
            .col-sm-3.col-sm-offset-2
              = item_f.label :name, class: 'sr-only'
              = item_f.text_field :name, class: 'form-control', placeholder: 'Item Name'

            .col-sm-3
              = item_f.label :unit_price, class: 'sr-only'
              .input-group
                %spen.input-group-addon &yen;
                = item_f.number_field :unit_price, class: 'form-control', placeholder: 'Price', min: 1

            .col-sm-2
              = item_f.label :count, class: 'sr-only'
              = item_f.number_field :count, class: 'form-control', placeholder: 'Count', min: 1

            .col-sm-2
              = item_f.link_to_remove 'Remove', class: 'btn btn-warning'

  .row
    .col-sm-2.col-sm-offset-8
      = f.link_to_add 'One more item', :items, data: { target: '#item_forms_container' }, class: 'btn btn-default btn-lg'
    .col-sm-2
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
