= nested_form_for(expense) do |f|
  = f.label :purpose
  = f.text_field :purpose
  = f.label :responsible
  = f.text_field :responsible
  = f.label :payday
  = f.date_field :payday
  = f.label :in_out
  = f.select :in_out, ['outgoing', 'incoming']
  = f.fields_for :items do |item_f|
    = item_f.label :name
    = item_f.text_field :name
    = item_f.label :unit_price
    = item_f.number_field :unit_price
    = item_f.label :count
    = item_f.number_field :count
    = item_f.link_to_remove 'Remove this'
  = f.link_to_add 'One more item', :items
  = f.submit 'Save'
