!!!
%html
  %head
    %title Expenses
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#nav-menu'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'LIVING EXPENSES', root_path, class: 'navbar-brand'

        .collapse.navbar-collapse#nav-menu
          %ul.nav.navbar-nav.navbar-right
            %li.balance{class: Expense.red? ? 'red-ink' : 'black-ink'}
              %p.navbar-text= link_to "#{Expense.balance} Yen", stat_expenses_path
            %li
              = button_to new_expense_path, class: 'btn btn-primary navbar-btn', method: 'get' do
                %span.glyphicon.glyphicon-usd

    .container
      = yield
